[submodule "Phase 1"]
	path = Phase 1
	url = https://github.com/SM2A/PLC_P1
[submodule "Phase 2"]
	path = Phase 2
	url = https://github.com/SM2A/PLC_P2
[submodule "Phase 3"]
	path = Phase 3
	url = https://github.com/SM2A/PLC_P3
[submodule "Phase 4"]
	path = Phase 4
	url = https://github.com/SM2A/PLC_P4
